@model MI138_GroupProject.Models.Game

@{
    ViewBag.Title = "Details";
}

<div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <div class="row">
        <div class="col-md-8">
            <img class="card-img-top" src="@Html.DisplayFor(model => model.ScreenshotUrl)" alt="Card image cap">
        </div>
        <div class="col-md-4">
            <b>Created date</b>
            <p>@Html.DisplayFor(model => model.Created)</p>
            <b>Created by</b>
            <p>@Html.DisplayFor(model => model.CreatedBy.Email)</p>
            <b>Reviews</b>
            @{ 
                var recommended = Model.Reviews.Where(r => r.Positive).ToArray().Count();
            }
            <button class="btn btn-success" type="button">
                Recommended <span class="badge">@recommended</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            @{
                var myReview = Model.Reviews.Where(r => r.CreatedBy.Id == ViewBag.UserID).FirstOrDefault();
                if (myReview == null)
                {
                    <br />
                    <a href="@Url.Action("CreateReview", "Games")" class="btn btn-primary" role="button">Write review</a>
                }
                else
                {
                    string positive = myReview.Positive ? "success" : "danger";
                    <div class="panel panel-@positive">
                        <div class="panel-heading">My review</div>
                        <div class="panel-body">
                            @Html.DisplayFor(modelItem => myReview.Content)
                        </div>
                        <div class="panel-footer">
                            @Html.DisplayFor(modelItem => myReview.Created)
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>List of reviews</h4>
            @foreach (var review in Model.Reviews.OrderBy(r => r.Created))
            {
                <div class="panel panel-default">
                    <div class="panel-heading">@Html.DisplayFor(modelItem => review.CreatedBy.Email)</div>
                    <div class="panel-body">
                        @Html.DisplayFor(modelItem => review.Content)
                    </div>
                    <div class="panel-footer">
                        @Html.DisplayFor(modelItem => review.Created)
                    </div>
                </div>
            }
        </div>
    </div>
</div>